/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 7px;
    padding: 10px;
    background-color: #f4f4f4;
}

/* Header Styling */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

header marquee {
    font-size: 50px;
    font-weight: bold;
    color: skyblue;
}


section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

ul li :hover{
    background:skyblue;
}

/* Read More Button */
.read-more-btn {
    display: inline-block;
    background-color: #ff7e5f;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.read-more-btn:hover {
    background-color: #d65a4a;
}

/* Registration Form */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #ff7e5f;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #d65a4a;
}







footer {
    text-align: center;
    background-color:darkgrey;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
